<!-- templates/mini_fb/show_profile_page.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<body>

    <h2> {{profile}}'s Profile Page</h2>
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="{{profile.profile_image_url}}">
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{profile}}</td>
                            </tr>
                            <tr>
                                <th>Convent/City</th>
                                <td>{{profile.city}}</td>
                            </tr>
                            <tr>
                                <th>Birth Date</th>
                                <td>{{profile.birth_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'update_profile' profile.pk %}">Edit This Profile</a>
    <a href="{% url 'news_feed' profile.pk %}">Show {{profile}}'s News Feed</a>
<hr>
{% if profile.get_friends %}
    <h3>{{profile}}'s Friends</h3>
    <table style="width: 100%">
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 70%;">
         </colgroup>
        <tbody>
            {% for friends in profile.get_friends %}
                <tr>
                
                    <td><a href="{% url 'show_profile_page' friends.pk %}">{{friends}}</a></td>
                    <td width="10%">
                        <a href="{% url 'show_profile_page' friends.pk %}">
                            <img src ="{{friends.profile_image_url}}" style="max-width: 100;">
                        </a>
                    </td>
            
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
    <h3>Post a Status Message</h3>
    <form action="{% url 'post_status_message' profile.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <!--{{form}}-->
        <table>
        {{create_status_form.as_table}} <!-- paragraph style formatting -->
        <tr>
            <td></td>
            <td><input type="submit" value="Share"></td>
        </tr>
        </table>
    </form>
    <ul>
        {% for message in profile.get_status_message %}
         <a href="{% url 'delete_message' profile_pk=profile.pk status_pk=message.pk %}">Delete</a>
        {% if message.image_file %}
        <img src='{{message.image_file.url}}' style='max-width: 600;'>
        {% endif %}
        {{message.time_stamp|date:"M d y h:m:s"}} {{message.message}} <br>
        {% endfor %}
    </ul>

</body>
{% endblock %}