<!-- templates/mini_fb/show_possible_friends.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<a href="{% url 'show_profile_page' profile.pk %}">Back to {{profile}}'s profile page</a>

<h2>Friend Suggestions For {{profile}}</h2>
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 33%;">
       <col span="1" style="width: 33%;">
       <col span="1" style="width: 33%;">
       
    </colgroup>
    <tbody>
        {% for friend in friend_suggestions %}
        <tr>

            <td width="10%">
                
                <img src ="{{friend.profile_image_url}}" style="width:100;">

            </td>

            <td>{{friend}}</td>

            <td>
                <form method='GET' action="{% url 'add_friend' profile_pk=profile.pk friend_pk=friend.pk %}">
                {% csrf_token %}
                <input type='submit' name="add" value="Add Friend">
            </form></td>

    
        </tr>
        {% endfor %}

    </tbody>
    
</table>


{% endblock %} 