<!-- templates/mini_fb/show_profile_page.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}

<body>

    <h2> {{profile}}'s Profile Page</h2>
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="{{profile.profile_image_url}}">
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{profile}}</td>
                            </tr>
                            <tr>
                                <th>Convent/City</th>
                                <td>{{profile.city}}</td>
                            </tr>
                            <tr>
                                <th>Birth Date</th>
                                <td>{{profile.birth_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>
    <a href="{% url 'update_profile' profile.pk %}">Edit This Profile</a>
<hr>
    <h3>Post a Status Message</h3>
    <form method="POST">
        {% csrf_token %} 
        <!--{{form}}-->
        <table>
        {{form.as_table}} <!-- paragraph style formatting -->
        <tr>
            <td></td>
            <td><input type="submit" value="Share"></td>
        </tr>
        </table>
    </form>
    <ul>
        {% for message in profile.get_status_message %}
        {{message.time_stamp|date:"M d y h:m:s"}} {{message.message}} <br>
        {% endfor %}
    </ul>

</body>
{% endblock %}