
<!-- templates/show_all_profiles.html -->

<h1> MiniFacebook</h1>

<h2>Showing All Profiles</h2>

<table width="600">
    <thead>
        <tr>
            <th data-sortable="true">Name</th>
            <th data-sortable="true">Hometown</th>
            <th data-sortable="true">Image</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>

            <td>{{profile}}</td>
            <td> {{profile.city}}</td>
            <td width="10%">
                <a href="">
                    <img src ="{{profile.profile_image_url}}" style="max-width:100%;">
                </a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>