<!-- templates/mini_fb/show_possible_friends.html -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<a href="{% url 'show_profile_page' profile_of_possible_friend.pk %}">Back to {{profile_of_possible_friend}}'s profile page</a>

<h2>Friend Suggestions For {{profile_of_possible_friend}}</h2>
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 33%;">
       <col span="1" style="width: 33%;">
       <col span="1" style="width: 33%;">
       
    </colgroup>
    <tbody>
        {% for friend in friend_suggestions %}
        <tr>

            <td width="10%">
                
                <img src ="{{friend.profile_image_url}}" style="width:100;">

            </td>

            <td>{{friend}}</td>

    
        </tr>
        {% endfor %}

    </tbody>
    
</table>


{% endblock %} 